In [1]:
# import libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# read counting_system_data

In [3]:
pedestrian_counting_system= pd.read_csv('updated counting system.csv')
pedestrian_counting_system.head(3)
pedestrian_counting_system.shape

(1048575, 11)

In [4]:

#count nulls
pedestrian_counting_system.isnull().sum(axis = 0)

id                  0
date_time           0
year                0
month               0
mdate               0
day                 0
time                0
sensor_id           0
sensor_name         0
hourly_counts       0
actual_date_time    0
dtype: int64

# read  sensor data_locations

In [5]:
pedestrian_sensor_data= pd.read_csv("counting_system_location.csv")
pedestrian_sensor_data.head(3)

,sensor_id,sensor_description,sensor_name,installation_date,status,note,direction_1,direction_2,latitude,longitude,location
0,76,Macaulay Rd- Bellair St,KenMac_T,20/02/2021,A,NaN,West,East,-37.794538,144.930362,"(-37.79453802, 144.93036194)"
1,44,Tin Alley-Swanston St (West),UM3_T,15/04/2015,A,NaN,South,North,-37.796905,144.964404,"(-37.79690473, 144.96440378)"
2,50,Faraday St-Lygon St (West),Lyg309_T,30/11/2017,A,NaN,North,South,-37.798082,144.967210,"(-37.79808191, 144.96721014)"

In [6]:
#count nulls
pedestrian_sensor_data.isnull().sum(axis = 0)
pedestrian_sensor_data

,sensor_id,sensor_description,sensor_name,installation_date,status,note,direction_1,direction_2,latitude,longitude,location
0,76,Macaulay Rd- Bellair St,KenMac_T,20/02/2021,A,NaN,West,East,-37.794538,144.930362,"(-37.79453802, 144.93036194)"
1,44,Tin Alley-Swanston St (West),UM3_T,15/04/2015,A,NaN,South,North,-37.796905,144.964404,"(-37.79690473, 144.96440378)"
2,50,Faraday St-Lygon St (West),Lyg309_T,30/11/2017,A,NaN,North,South,-37.798082,144.967210,"(-37.79808191, 144.96721014)"
3,43,Monash Rd-Swanston St (West),UM2_T,15/04/2015,A,NaN,South,North,-37.798445,144.964118,"(-37.79844525, 144.96411782)"
4,64,Royal Pde - Grattan St,Grat292_T,16/01/2020,A,NaN,North,South,-37.799495,144.957923,"(-37.79949544, 144.95792282)"
...,...,...,...,...,...,...,...,...,...,...,...
70,14,Sandridge Bridge,SanBri_T,25/09/2019,A,NaN,North,South,-37.820112,144.962919,"(-37.82011242, 144.96291898)"
71,35,Southbank,SouthB_T,11/04/2016,A,NaN,East,West,-37.820178,144.965089,"(-37.82017828, 144.96508877)"
72,28,The Arts Centre,VAC_T,23/08/2013,A,NaN,South,North,-37.821299,144.968793,"(-37.82129924, 144.96879309)"
73,8,Webb Bridge,WebBN_T,24/03/2009,A,NaN,North,South,-37.822935,144.947175,"(-37.82293543, 144.94717511)"
74,25,Melbourne Convention Exhibition Centre,MCEC_T,2/10/2019,A,Sensor relocated from 14 to 25 on 2/10/2019,East,West,-37.824018,144.956044,"(-37.82401776, 144.95604426)"

In [7]:
#sort by sensor id 
pedestrian_sensor_data = pedestrian_sensor_data.sort_values(by ='sensor_id').sort_values(by ='sensor_id')
pedestrian_sensor_data.shape
pedestrian_sensor_data.to_csv("C:\\Users\\Aqsa\\Documents\\GA course\\capstone_project\\datasets_cleaned_in_python_16032021\\sensor_location.csv")

In [8]:
pedestrian_sensor_data.sh

(75, 11)

# join two counting system and sensor location datasets

In [9]:
#merging the sensor and counting _sytem data
data1= pd.merge(left=pedestrian_counting_system, right=pedestrian_sensor_data,how='inner', on='sensor_id', suffixes= ("_pedestrian_counting_system","_pedestrian_sensor_data"))
data1.shape
data1.to_csv("C:\\Users\\Aqsa\\Documents\\GA course\\capstone_project\\datasets_cleaned_in_python_16032021\\sensor_location_counts.csv")
data

In [14]:
# which sensor have updated data

In [18]:
data1

,id,date_time,year,month,mdate,day,time,sensor_id,sensor_name_pedestrian_counting_system,hourly_counts,...,sensor_description,sensor_name_pedestrian_sensor_data,installation_date,status,note,direction_1,direction_2,latitude,longitude,location
0,2887629,11/01/2019 17:00,2019,November,1,Friday,17,39,Alfred Place,604,...,Alfred Place,AlfPl_T,4/12/2019,A,In 4/12/2019 sensor upgraded,South,North,-37.813797,144.969957,"(-37.81379749, 144.96995745)"
1,2887684,11/01/2019 18:00,2019,November,1,Friday,18,39,Alfred Place,384,...,Alfred Place,AlfPl_T,4/12/2019,A,In 4/12/2019 sensor upgraded,South,North,-37.813797,144.969957,"(-37.81379749, 144.96995745)"
2,2887739,11/01/2019 19:00,2019,November,1,Friday,19,39,Alfred Place,289,...,Alfred Place,AlfPl_T,4/12/2019,A,In 4/12/2019 sensor upgraded,South,North,-37.813797,144.969957,"(-37.81379749, 144.96995745)"
3,2887794,11/01/2019 20:00,2019,November,1,Friday,20,39,Alfred Place,158,...,Alfred Place,AlfPl_T,4/12/2019,A,In 4/12/2019 sensor upgraded,South,North,-37.813797,144.969957,"(-37.81379749, 144.96995745)"
4,2887849,11/01/2019 21:00,2019,November,1,Friday,21,39,Alfred Place,114,...,Alfred Place,AlfPl_T,4/12/2019,A,In 4/12/2019 sensor upgraded,South,North,-37.813797,144.969957,"(-37.81379749, 144.96995745)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1073806,3/01/2015 14:00,2015,March,1,Sunday,14,38,Flinders St-Swanston St (West),4123,...,Flinders St-Swanston St (West),Swa11_T,5/12/2014,R,Device has been removed (17/02/2017),NaN,NaN,-37.817234,144.967150,"(-37.81723437, 144.96715033)"
1048571,1073842,3/01/2015 15:00,2015,March,1,Sunday,15,38,Flinders St-Swanston St (West),4316,...,Flinders St-Swanston St (West),Swa11_T,5/12/2014,R,Device has been removed (17/02/2017),NaN,NaN,-37.817234,144.967150,"(-37.81723437, 144.96715033)"
1048572,1073878,3/01/2015 16:00,2015,March,1,Sunday,16,38,Flinders St-Swanston St (West),4089,...,Flinders St-Swanston St (West),Swa11_T,5/12/2014,R,Device has been removed (17/02/2017),NaN,NaN,-37.817234,144.967150,"(-37.81723437, 144.96715033)"
1048573,1073950,3/01/2015 18:00,2015,March,1,Sunday,18,38,Flinders St-Swanston St (West),2863,...,Flinders St-Swanston St (West),Swa11_T,5/12/2014,R,Device has been removed (17/02/2017),NaN,NaN,-37.817234,144.967150,"(-37.81723437, 144.96715033)"
1048574,1073914,3/01/2015 17:00,2015,March,1,Sunday,17,38,Flinders St-Swanston St (West),3635,...,Flinders St-Swanston St (West),Swa11_T,5/12/2014,R,Device has been removed (17/02/2017),NaN,NaN,-37.817234,144.967150,"(-37.81723437, 144.96715033)"

# READ THE FURNITURE TABLE

In [19]:
# open the furniture file
furniture= pd.read_csv('furniture_data.csv',encoding='latin1')
furniture.head(3)
# treating null values from condition_rating column
furniture['CONDITION_RATING'].fillna(furniture['CONDITION_RATING'].mean(), inplace=True)
furniture['CONDITION_RATING']
#

0        1.570000
1        3.560000
2        3.570000
3        3.570000
4        4.570000
           ...
23350    3.364419
23351    3.364419
23352    3.364419
23353    3.364419
23354    3.364419
Name: CONDITION_RATING, Length: 23355, dtype: float64

In [20]:
!pip install haversine
import haversine as hs

Requirement already satisfied: haversine in c:\users\aqsa\anaconda3\lib\site-packages (2.3.0)

In [21]:
# coordinates of furniture
furniture.columns
furniture.shape

(23355, 17)

In [22]:
#coordinates of sensor_location
pedestrian_sensor_data.columns
#pedestrian_sensor_data=pedestrian_sensor_data['location']

Index(['sensor_id', 'sensor_description', 'sensor_name', 'installation_date',
       'status', 'note', 'direction_1', 'direction_2', 'latitude', 'longitude',
       'location'],
      dtype='object')

In [23]:
pedestrian_sensor_data['location']

35     (-37.8134944, 144.96515324)
38    (-37.81380667, 144.96516719)
23    (-37.81101523, 144.96429485)
42     (-37.81487988, 144.9660878)
63    (-37.81874249, 144.96787656)
                  ...
28    (-37.81235775, 144.97136962)
59    (-37.81726337, 144.96872809)
57    (-37.81695684, 144.95415373)
43    (-37.81515275, 144.97467662)
0     (-37.79453802, 144.93036194)
Name: location, Length: 75, dtype: object

In [24]:
pedestrian_sensor_data['sensor_id'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 75, 76], dtype=int64)

# extract the distance between furniture location and sensor location

In [25]:

D = {'distance_sensor': [], 'sensor_id':[] }
i=1;
for furniture_ind in furniture.index:
    min_dist = 9999
    sensor_id = 0
    for sensor_ind in pedestrian_sensor_data.index:
        #get the furniture and sensor location with spaces and brackets stripped out
        furniture_loc = furniture['location'][furniture_ind].strip().replace(" ","")
        pedestrian_loc = pedestrian_sensor_data['location'][sensor_ind].strip().replace(" ","").replace(")","").replace("(","")
        #print("furniture loc:" + furniture_loc + " sensor loc: " + pedestrian_loc)
        
        #partition the furniture and sensor locaiton to get latitude and longitude separately
        furn_part = furniture_loc.partition(',')
        sensor_part = pedestrian_loc.partition(',') 
        
        #populate latitude and longitude into loc as tuples
        loc1=(float(furn_part[0]), float(furn_part[2]))
        loc2=(float(sensor_part[0]), float(sensor_part[2]))

        #print("furn: " + str(loc1) + "sensor: " + str(loc2))
        distance = hs.haversine(loc1, loc2)
        if distance < min_dist:
            min_dist = distance
            sensor_id = pedestrian_sensor_data['sensor_id'][sensor_ind]
            
        #testing
        #print("sensor id: "+str(pedestrian_sensor_data['sensor_id'][sensor_ind])+" dist:"+str(distance)+str(loc1)+str(loc2))
        
        #dst_list.append(str(distance) + "," + str(pedestrian_sensor_data['sensor_id'][sensor_ind]))
        #distance_sensor=[min(dst_list),dst_list.index(min(dst_list))]
        
        ####################################################################
        #end of inner (sensor) Loop
        ####################################################################
        
    #break

#print(min_dist, sensor_id)

        
#print(dst_list)
#print(dst_list.index(min(dst_list)))
#print("sensor id:" + str(pedestrian_sensor_data['sensor_id'][dst_list.index(min(dst_list))]))
    D['distance_sensor'].append(min_dist)
    D['sensor_id'].append(sensor_id)

#  Generating a new dataframe with distance between furniture and sensor location and sensor id

In [26]:
output = pd.DataFrame(D)
output
furniture['distance_sensor']=output['distance_sensor']
furniture['sensor_id']=output['sensor_id']

In [27]:
#drop unnecessary rows and columns
furniture.drop(['GIS_ID', 'DESCRIPTION', 'MODEL_NO', 'MODEL_DESCR', 'DIVISION', 'COMPANY',
                'LOCATION_DESC', 'EVALUATION_DATE', 'EASTING', 'NORTHING', 'UploadDate'], axis = 1, inplace = True)

In [28]:
#write file to xlsx
#furniture.to_excel("C:\\Users\\Aqsa\\Documents\\GA course\\capstone_project\\modified_data10032021\\output.xlsx")
furniture

,ASSET_CLASS,ASSET_TYPE,CONDITION_RATING,LAT,LONG,location,distance_sensor,sensor_id
0,Outdoor Furniture,Bicycle Rails,1.570000,-37.813975,144.966935,"-37.81397501 ,144.96693445",0.073332,63
1,Outdoor Furniture,Bicycle Rails,3.560000,-37.819825,144.966973,"-37.81982494 ,144.96697342",0.144155,5
2,Outdoor Furniture,Bicycle Rails,3.570000,-37.813924,144.972248,"-37.81392362 ,144.97224844",0.088271,18
3,Outdoor Furniture,Bicycle Rails,3.570000,-37.818857,144.962228,"-37.81885652 ,144.96222849",0.152252,14
4,Outdoor Furniture,Bicycle Rails,4.570000,-37.817284,144.968467,"-37.81728408 ,144.96846688",0.023060,72
...,...,...,...,...,...,...,...,...
23350,Outdoor Furniture,Bollard,3.364419,-37.810598,144.971863,"-37.8105975 ,144.97186293",0.076342,40
23351,Outdoor Furniture,Bollard,3.364419,-37.810589,144.971886,"-37.81058915 ,144.97188599",0.074574,40
23352,Outdoor Furniture,Floral Crate/Planter Box,3.364419,-37.815278,144.963326,"-37.81527837 ,144.96332563",0.173153,16
23353,Outdoor Furniture,Floral Crate/Planter Box,3.364419,-37.813877,144.968302,"-37.81387687 ,144.96830232",0.145662,39
23354,Outdoor Furniture,Floral Crate/Planter Box,3.364419,-37.813177,144.970785,"-37.81317675 ,144.97078489",0.100238,39

In [29]:
furniture_new=furniture.drop(['ASSET_CLASS','LAT','LONG','location','distance_sensor'],axis=1,inplace=True)

In [ ]:
#merging the sensor & furniture_sytem data
output= pd.merge(left=data1, right=furniture, on='sensor_id', suffixes= ("_data1","_furniture"))

In [30]:
furniture.to_csv("C:\\Users\\Aqsa\\Documents\\GA course\\capstone_project\\datasets_cleaned_in_python_16032021\\furniture_data_columns_removed.csv")